<div >
<button class="btn btn-primary" (click)="AddQuestion()">AddQuestion</button>
&nbsp;&nbsp;
<button class="btn btn-secondary" (click)="GetAllQuestions()">GetAllQuestions</button>
&nbsp;&nbsp;
<button class="btn btn-success" (click)="GetQuestionById()">GetQuestionById</button>
&nbsp;&nbsp;
<button class="btn btn-warning" (click)="UpdateQuestion()">UpdateQuestion</button>
&nbsp;&nbsp;
<button class="btn btn-info" (click)="DeleteQuestion()">DeleteQuestion</button>
<br><br>
<button class="btn btn-primary" (click)="AddExam()">AddExam</button>
&nbsp;&nbsp;
<button class="btn btn-secondary" (click)="GetAllExams()">GetAllExams</button>
&nbsp;&nbsp;
<button class="btn btn-success" (click)="GetExamById()">GetExamById</button>
&nbsp;&nbsp;
<button class="btn btn-warning"(click)="UpdateExam()">UpdateExam</button>
&nbsp;&nbsp;
<button class="btn btn-info" (click)="DeleteExam()">DeleteExam</button>
<br><br>
<button class="btn btn-primary"(click)="AddStudent()">AddStudent</button>
&nbsp;&nbsp;
<button class="btn btn-secondary" (click)="GetAllStudents()">GetAllStudents</button>
&nbsp;&nbsp;
<button class="btn btn-success" (click)="GetStudentById()">GetStudentById</button>
&nbsp;&nbsp;
<button class="btn btn-warning" (click)="UpdateStudent()">UpdateStudent</button>
&nbsp;&nbsp;
<button class="btn btn-info" (click)="DeleteStudent()">DeleteStudent</button>
<br><br>
<button class="btn btn-primary" (click)="AddReport()">AddReport</button>
&nbsp;&nbsp;
<button class="btn btn-secondary" (click)="GetAllReports()">GetReports</button>
&nbsp;&nbsp;
<button class="btn btn-success" (click)="GetReportById()">GetReportByiD</button>
<br><br>
</div>
<!-- <div *ngIf="DivQuestionId">
    QuestionId:<input type="text">
    <button class="btn btn-primary" (click)="Menu()">Menu</button>
</div>
<div *ngIf="DivExamId">
    QuestionId:<input type="text">
    <button class="btn btn-primary" (click)="Menu()">Menu</button>
</div>
<div *ngIf="DivStudentId">
    QuestionId:<input type="text">
    <button class="btn btn-primary" (click)="Menu()">Menu</button>
</div>
<div *ngIf="DivReportId">
    QuestionId:<input type="text">
    <button class="btn btn-primary" (click)="Menu()">Menu</button>
</div> -->

<br><br>
<Button class="btn btn-warning" (click)="back()">Back</Button>

