<p>update-student works!</p>

<div>
    StudentId:<input type="number" [(ngModel)]="student.studentId">
    <br>
    StudentNmae:<input type="text" [(ngModel)]="student.studentName">
    <br>
    StudentEmail:<input type="text" [(ngModel)]="student.studentEmail">
    <br>
   studentpassword:<input type="text" [(ngModel)]="student.studentPassword">
    <br>
    enrollExam:<input type="text" [(ngModel)]="student.enrolExam">
</div>
<button class="btn btn-primary" (click)="submit(student.studentId)"></button>
&nbsp;
<button class="btn btn-warning" (click)="backtoadmin()">Back</button>