<p>get-all-questins works!</p>

<div *ngFor="let question of Questions">
    <span>QuestionId:{{question.questionId}}</span>
    <br>
    <span>QuestionName:{{question.questionName}}</span>
    <br>
   <input type="radio">:{{question.option1}}
    <br>
    <input type="radio">:{{question.option2}}
    <br>
    <input type="radio">:{{question.option3}}
    <br>
    <input type="radio">:{{question.option4}}
    <br>
    <span>CorrectAnswer:{{question.correctAnswer}}</span>
    <br>
    <span>Marks:{{question.marks}}</span>
    <br>
    <span>ExamId:{{question.examId}}</span>
    <br>
    <button class="btn btn-primary" (click)="update(question.questionId)">Update</button>
    &nbsp;&nbsp;
    <button class="btn btn-danger" (click)="delete(question.questionId)" >Delete</button>
    <hr/>
</div>
<button class="btn btn-warning" (click)="backtoadmin()">Back</button>