<p>get-all-students works!</p>
<div *ngFor="let student of Students">
    <span>StudentId:{{student.studentId}}</span>
    <br>
    <span>StudentId:{{student.studentName}}</span>
    <br>
    <span>StudentId:{{student.studentEmail}}</span>
    <br>
    <span>StudentId:{{student.studentPassword}}</span>
    <br>
    <span>StudentId:{{student.enrollExam}}</span>
    <br>
    <br>
    <button class="btn btn-primary" (click)="update(student.studentId)">Update</button>
    &nbsp;&nbsp;
    <button class="btn btn-danger" (click)="delete(student.studentId)" >Delete</button>
    <hr/>
</div>

<button class="btn btn-warning" (click)="backtoadmin()">Back</button>