<p>add-questions works!</p>
<div>
    QuestionId:<input type="number" [(ngModel)]="question.questionId">
    <br>
    QuestionName:<input type="text" [(ngModel)]="question.question">
    <br>
    Option1:<input type="text" [(ngModel)]="question.option1">
    <br>
    Option2:<input type="text" [(ngModel)]="question.option2">
    <br>
    Option3:<input type="text" [(ngModel)]="question.option3">
    <br>
    Option4:<input type="text" [(ngModel)]="question.option4">
    <br>
    CorrectAnswer:<input type="text" [(ngModel)]="question.correctAnswer">
    <br>
    Marks:<input type="number" [(ngModel)]="question.marks">
    <br>
    ExamId:<input type="number" [(ngModel)]="question.exam.examId">

    <button (click)="submit(question.exam.examId)">submit</button>
    <br>
</div>
<button class="btn btn-warning" (click)="backtoadmin()">Back</button>